body {
  margin: 0 0 0 0;
  background-image: url(./src/img/bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  border: fuchsia solid 5px;
}

#wrapperbg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(18px) brightness(60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-start {
  position: absolute;
  font-family: "PressStart2PRegular";
  display: block;
  background-color: rgba(255, 0, 255, 0.75);
  border: none;
  color: white;
  padding: 20px 30px;
  font-size: 1.5em;
  transition: 0.5s;
  animation: 1s textAni infinite;
  transform: scale(1.0);
  
}

#btn-start:hover{ 
  transform: scale(1.1);
  background-color: rgba(183, 0, 255, 0.75);
  
}
  @keyframes textAni {
    0% {color: rgba(255, 255, 255, 1);}
    50% {color: rgba(255, 255, 255, 1);}
    51% {color: rgba(255, 255, 255, 0);}
    100% {color: rgba(255, 255, 255, 0);}
  }